<div class="container contact">
  <div class="row justify-content-around">
     <div class="col-12 col-lg-4 mt-5">
      <h3>NOUS CONTACTER</h3>
      <p>Vous pouvez faire parvenir vos correspondances à l’adresse suivante :<br>
      Maître Marion Caoudal <br>
      Adresse xxxx <br>
      75020 Paris</p>
      <br>
      <p>Si vous souhaitez appeler le Cabinet ou envoyer un fax, vous pouvez le faire via les numéros suivants : <br>
      Tél :  06.06.06.06.06 <br>
    </div>
     <div class="col-12 col-lg-6 mt-5">
      <h3>FORMULAIRE DE CONTACT</h3>
      <p>Vous avez une question spécifique ?
      Nous vous invitons à compléter le formulaire ci-dessous en prenant soin de remplir les mentions obligatoires. Nous nous engageons à revenir vers vous dès que possible.</p>
      <form>
        <div class="form-group my-3">
          <label for="exampleFormControlInput1">Votre nom : </label>
          <input type="text" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="form-group my-3">
          <label for="exampleFormControlInput1">Votre email : </label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group my-3">
          <label for="exampleFormControlSelect1">Votre demande concerne : </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>Choisir...</option>
            <option>Droit des étrangers</option>
            <option>Droit pénal</option>
            <option>Droit de la famille</option>
            <option>Autre</option>
          </select>
        </div>
        <div class="form-group my-3">
          <label for="exampleFormControlInput1">Objet : </label>
          <input type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group my-3">
          <label for="exampleFormControlTextarea1">Votre message : </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary my-3">Envoyer</button>
      </form>
    </div>
  </div>
</div>


