<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" alt="#" width="60" class="d-inline-block align-text-top">
        </a>

          <div class="tabs">
            <ul class="list-inline tabs-underlined">
              <li>
                <a href="#" class="tab-underlined active">Bookings</a>
              </li>
              <li>
                <a href="#" class="tab-underlined">Requests</a>
              </li>
              <li>
                <a href="#" class="tab-underlined">Conversations</a>
              </li>
            </ul>
          </div>

      </nav>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <p> Hello </p>
    </div>
  </div>
</div>
