<nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="#" width="30" height="24">
          </a>
        </div>
        <div class="tabs">
          <ul class="list-inline tabs-underlined">
            <li>
              <a href="#" class="tab-underlined active">Bookings</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Requests</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Conversations</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <p> Hello </p>
    </div>
  </div>
</div>
